
/*GLOBAL CSS START*/
nav.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  position: relative;
  box-shadow: 0 0 0.25rem 0 rgba(0, 0, 0, 0.15);
  min-height: 2.25rem;
  background-color: #011961;
  width: 100vw;
}
  
.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.navbar ul.active{
  display: block;
  
}

.nav-link {
  color: white;
  text-decoration: none;
  padding: 0.5rem;
  font-size: 1.3rem;
}

.navbar button {
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  display: flex;
}

.nav-image{
  aspect-ratio: 486/74;
  max-width: 12rem;
}



.navbar li:hover{
  background-color: #99544F;
}


/* Mobile Only */
@media(max-width: 39.9375em) {
  .navbar ul {
    display: none;
    background: #011961;
    padding: 1rem;
    flex-direction: column;
    gap: 0.75rem;
    width: 100%;
    position: absolute;
    top: 100%;
    left: 0;
  }
  
  .pizza.active {
    display: flex;
  }

  .page2 > p{
    margin: 1rem;
  }

  .hed > p{
    margin: 1rem;
  }

  figure figcaption, .P2_fig figcaption{
    margin: 1rem 1rem 1rem 1rem;
  }
}

/* Desktop Only */
@media(min-width: 40em) {
  .navbar button {
    display: none;
  }
  .navbar ul {
    display: flex;
    gap: 1rem;
  }

}

.footer{
  background-color: #99544F;
  width: 100%;
  height: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  
}
.footer p{
  color: white;
  font-size: 1rem;
}

.footer a{
  color: white;
  text-decoration: none;
}

/*GLOBAL CSS END*/

body{
  font-family: Georgia;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #f0f4fb;
 

}

/*HOMEPAGE CSS START*/
.site-container{
  margin: 2rem auto;
  max-width: calc(100% - 80px);
}

.site-container2{
  margin: 2rem auto;
  max-width: calc(100% - 80px);
  
}

.article-container{
  display: grid;
  grid-template-columns: 1.5fr 3fr 1fr;
  gap: 2rem;
  

}
.article-container2{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
  padding: 20px;
  margin: 20px;
}

.article-container2 a{
  text-decoration: none;
}

.article-image{
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.article-image img{
  max-width: 100%;
  height: auto;
  border-radius: 20px 20px 0 0;
}

.article-card{
  background: white;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);

}
.article-card2{
  background: white;
  border-radius: 20px;
  transition: 0.3s;
  box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);
  margin: 20px;

}

.article-card2:hover{
  cursor: pointer;
}

.article-content{
  padding: 1rem 2rem 2rem 2rem;
}

.article-content .card-category{
  font-size: 0.875rem;
  text-transform: uppercase;
  letter-spacing: 1em;
  font-weight: 600;
  color: #6b82a7;
  display: block;
  text-decoration: none;
}

.article-content .card-title{
 margin-top: 0;
 margin-bottom: 1rem;
 color: #011961;
}

.article-content .card-title_headlines{
  margin: 0;
  color: #011961;
 }

.article-content .card-excerpt{
  font-size: 0.9rem;
  line-height: 1.5rem;
  color: #707070;
  margin: 0;
}

.article-content .card-excerpt li{
  list-style-type:disc;
  color: #707070;
  margin: 10px;
}


.header {
  
  background: #011961;
  color: white;
  text-align: center;
  font-family: Georgia;
  font-size: 2rem;
  border-radius: 20px 20px 0 0;

}

/*HOMEPAGE CSS END*/





.big-card{
    background: white;
    border-radius: 20px;
    box-shadow: 0 4px 20px 0 rgba(34, 68, 123, 0.2);

}



.accordion {
  background-color: #99544F;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.accordion:hover {
  background-color: #011961;
}


/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: #011961;
  display: none;
  overflow: hidden;
}

.panel > p{
  color: white;
}

/*
.grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(10, 5rem);
}


.aside {
  background: blue;
  grid-row-start: 5;
  grid-row-end: 7;
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav {
  background: purple;
  grid-row-start: 2;
  grid-row-end: 5;
  grid-column-start: 2;
  grid-column-end: 3;
}

.nav h1{
  font-family: Georgia, serif;
  font-size: 2em;
  font-weight: bold;
}

.nav p{
  font-family: Georgia, serif;
  font-size: 1em;
}

.main {
  background: green;
  grid-row-start: 2;
  grid-row-end: 7;
  grid-column-start: 3;
  grid-column-end: 5;
}

.vid{
  background: pink;
  grid-row-start: 7;
  grid-row-end: 10;
  grid-column-start: 2;
  grid-column-end: 5;
}

*/


iframe.video{
  width: 50%;
  aspect-ratio: 16/9;
}

img {
  width: 100%;
  display: block;
}

.card-with-overlay {
  border-radius: 1rem 1rem 0 0;
  overflow: hidden;
  position: relative;
}

.card-with-overlay div {
  box-sizing: border-box;
  text-align: center;
  background: linear-gradient(black, transparent);
  color: white;
  padding: 0 1rem 6rem 1rem;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}


.card-with-overlay h1{
  font-size: 3.5em;
  margin-top: 2rem;
}

.card-with-overlay .bottom_h1{
  margin-bottom: 2rem;
  margin-top: 0;
  font-size: 3.5em;
}
.card-with-overlay p{
  font-size: 1.2em; 
}

@media (max-width: 60em){
  .article-container2{
    display: block;
    padding: 0;
    margin: 0;
  }
  .article-card2{
    /*give the cards more space in the container so as to offset the smaller screen*/
    margin: 1rem 0 0 0;

  }
  .article-container{
    display: flex;
    flex-direction: column;
  }
  /*
      Even though this puts the main article ahead of the top headlines
      when switching to mobile, it messes up the navbar because it disconnects
      the css display and html dom. I couldn't find a way around this besides 
      altering the z-index so I just made a choice to keep the navbar intact
      and have top headling card be above the main card upon resize.
  .article-container :nth-child(1){
    order: 2;
  }
  .article-container :nth-child(2){
    order: 1;
  }
  .article-container :nth-child(3){
    order: 3;
  }
  */
}


/*Page 2 CSS*/
.page2 > * {
  min-width: 0;
}

.page2 > h1 {
  font-size: 2.625rem;
  line-height: 1.1;
  font-family: 'Tiempos Headline', Georgia, serif;
}

.page2 > h2 {
  font-size: 1.3rem;
  line-height: 1.3;
  font-family: 'Tiempos Headline', Georgia, serif;
  font-weight: 400;
}

.byline{
  font-family: Georgia;
  font-size: 1rem;
  margin: 0;
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.page2 > p {    
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

}

.list2 > li{
--x-height-multiplier: 0.375;
--baseline-multiplier: 0.17;
font-family: Georgia;
letter-spacing: .01rem;
font-weight: 400;
font-style: normal;
font-size: 1.3rem;
line-height: 1.58;
letter-spacing: -.003em;
color: rgba(0,0,0,.84);
text-rendering: optimizeLegibility;
-webkit-font-smoothing: antialiased;
  margin: 10px;
}


.list2{
  margin-left: 1.5rem;
  list-style-type: disc;
}

.page2 > .aside {
  font-family: Lucida Grande;
  margin: 30px 20px;
  color: #666;
  font-size: 0.8em;
}

.page2 > img {
  width: 100%;
}

.line-numbers a {
  text-decoration: none;
  color: #000;
  padding-right: 1em;
}


figure {
  margin: 0;
}

figure figcaption {
  color: #666;
  font-style: italic;
  font-size: 1.2em;
  margin-top: 1rem;
}

/*PAGE 1 CSS*/
.P2_fig {
  margin: 0;
  display: grid;
  grid-column-start: 2;
  grid-column-end: 7;
}

.P2_fig img{
width:100%;
}


.P2_fig figcaption {
  color: #666;
  font-style: italic;
  font-size: 1.2em;
  margin-top: 1rem;
}


.hed{
  border-bottom: 1px solid black;
}

.hed > h1 {
    font-size: 2.625rem;
    line-height: 1.1;
    font-family: 'Tiempos Headline', Georgia, serif;
}

.hed > h2 {
    font-size: 1.3rem;
    line-height: 1.3;
    font-family: 'Tiempos Headline', Georgia, serif;
    font-weight: 400;
}



.hed > p {    
    --x-height-multiplier: 0.375;
    --baseline-multiplier: 0.17;
    font-family: Georgia;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 1.3rem;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;

}

.byline{
  font-family: Georgia;
  font-size: 1rem;
  margin: 0;
  --x-height-multiplier: 0.375;
  --baseline-multiplier: 0.17;
  font-family: Georgia;
  letter-spacing: .01rem;
  font-weight: 400;
  font-style: normal;
  font-size: 1.3rem;
  line-height: 1.58;
  letter-spacing: -.003em;
  color: rgba(0,0,0,.84);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.P1_a{
  color: #006997;
  text-decoration: underline 2px solid #006997;
}
/*PAGE 1 CSS END*/


.page2 {
  display: grid;
  grid-template-columns: 1fr 1fr 1rem 20rem 1rem 1fr 1fr;
  width: 100vw;
}

.page2 > * {
  grid-column: 2/-2;
  padding: 0;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.page2 > figure {
  grid-column: 2 / -2;
  margin: 20px 0;
}



html, body {
  margin: 0;
  padding: 0;
  line-height: 1.4;
}



body{
  font-family: Georgia;
  font-size: 100%;
  font-size: 16px;
  line-height: 1.5;
  background: #f0f4fb;
}

iframe.video{
  width: 100%;
  aspect-ratio: 16/9;
}

.FAQ{
  background-color: #011961;
  margin-bottom: 5rem;
}

.FAQ h1{
  display: flex;
  justify-content: center;
  color: white;
}

.icon{
  aspect-ratio: 1;
  width: 3rem;
}

